<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{history.name}}">
  <ion-content class="pane" class="padding">
    <img ng-src="{{history.logo}}" style="width: auto; height: 100px">
<div class="card historyDetail">
      <p>{{history.name}}</p>
      <p>{{history.city}}</p>
      <p>{{history.currentValue}}/{{history.maxValue}}</p>
      <p>{{history.type}}</p>
      <p>{{history.coupon}}</p>
</div>
<img ng-src="{{history.QRCode}}" style="width: auto; height: 200px">
  </ion-content>
</ion-view>