<ion-view view-title="Account">

  <ion-content>

<!--  <button class="button button-dark" ng-click="showPopup()">
      Change Location
 </button>
    <p>Current Location:</p>
	<p>{{savedLocation}}</p>

 <button class="button button-dark" ng-click="showPopup()">
      Change Filter
 </button>
    <p>Current Filter:</p>
	<p>{{savedLocation}}</p>
	<p>{{savedLocation}}</p>
	<p>{{savedLocation}}</p> -->

<h2>Filters</h2>

<ul class="list">

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" ng-model="checked1" ng-init="checked1=true">
     </label>
     Games
  </li>

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Shoes
  </li>

    <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Clothes
  </li>

    <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Jewelry
  </li>

    <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" ng-model="checked2" ng-init="checked2=true">
     </label>
     Movies
  </li>

    <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Food
  </li>

    <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" ng-model="checked3" ng-init="checked3=true">
     </label>
     Hardware
  </li>

</ul>


<h2>Cities</h2>

<ul class="list">

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" >
     </label>
     Berlin
  </li>

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" ng-model="checked4" ng-init="checked4=true">
     </label>
     Stuttgart
  </li>

    <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Hamburg
  </li>

    <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     München
  </li>

    <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Stralsund
  </li>

</ul>


  </ion-content>

</ion-view>




