<ion-view view-title="Account">

  <ion-content class="pane">
  
<div class="rand">

  <button class="button button-block button-dark"  ng-click="showConfirmGet()">
  Get New Offers
</button>
</button>

<div class="list">

    <a class="item account" href="#">
      <h2>Netto</h2>
      <p>10 new Tasks to do</p>
    </a>

    <a class="item account" href="#">
      <h2>Rewe</h2>
      <p>5 new Tasks to do</p>
    </a>

    <a class="item account" href="#">
      <h2>Saturn</h2>
      <p>8 new Tasks to do</p>
    </a>

</div>


<button class="button button-block button-dark" ng-click="showConfirmDelete()">
  Delete Offers
</button>

<div class="list">

    <a class="item account" href="#">
      <h2>Mediamarkt</h2>
      <p>10 Tasks</p>
    </a>

</div>

</div>
    </ion-content>

</ion-view>




