<ion-view view-title="Offers">
  <ion-content class="pane">
<div class="rand">
      <ion-list>
      <a class="item Offer item-icon-right" ng-repeat="history in histories"  href="#/tab/offers/{{history.id}}">
      <img ng-src="{{history.logo}}">
        <h2>{{history.name}}</h2>
        <p>{{history.coupon}}</p>
        <p>{{history.currentValue}}/{{history.maxValue}}</p>
        <p>{{history.type}}</p>
        <p>{{history.city}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </ion-list>
</div>
  </ion-content>
</ion-view>
