/* Empty. Add your own CSS if you like */
p {
	text-align: center;
}

h2 {
	text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto; 
    height: 74px;
    padding: 10px;
}

.pane{
 background-image: url('../img/base.png');
}

.rand{
  padding-top: 60px;
}
/*
.item-avatar i:first-child, .item-avatar .item-img {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 36px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    border-radius: 4px; }

.scroll-content{
  background-image: url('/img/css/black.jpg');
  background-position: center;
  background-repeat: no-repeat;
}*/

.card.historyDetail{
  background: rgba(255, 255, 255, 0.4);
    border-color: rgba(255,255, 255, 1);
}
/*
.item.history{
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    color: black; 
}

.item-remove-animate.item-trns{
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    color: white; 
}
*/

.item.item-checkbox {
  background: rgba(255, 255, 255, 0.4);
    border-color: rgba(255,255, 255, 1);
}
.item.account{
  background: rgba(255, 255, 255, 0.4);
    border-color: rgba(255,255, 255, 1);
}
/*
.button.button-block.button-dark{
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 1);
    color: white; 
}
.button.button-full.button-dark {
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 1);
    color: white; 
}
*/

.button.button-block.button-light{
  background: rgba(255, 255, 255, 0.4);
    border-color: rgba(255,255, 255, 1);
}
.card.offer-detail{
  background: rgba(255, 255, 255, 0.4);
    border-color: rgba(255,255, 255, 1);
}

.item.item-avatar{
  background: rgba(255, 255, 255, 0.4);
    border-color: rgba(255,255, 255, 1);
}

.item.Offer{
  background: rgba(255, 255, 255, 0.4);
    border-color: rgba(255,255, 255, 1);
}
/*

.item.item-radio{
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    color: red; 
}*/